@use "src/base" as *;

.booking-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .booking-container{
        height: 100%;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .filter-container{
        display: flex;
        gap: 10px;
       
        width: 100%;
    }
    

    .form-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        .heading {
            font-size: 32px;
            text-align: center;
            font-weight: bold;
        }
    }
}