@use "src/base" as *;

.date-picker-booking{
    display: flex;
    justify-content: center;
    .react-datepicker__header{
        background-color: white;
        border-bottom-width: 0;
    }
    .react-datepicker__month{
        margin: 0;
    }
    .react-datepicker__month-container{
        flex:1
    }
    > div{
        width: 100%;
    }
    .react-datepicker{
        width: 100%;
        display: flex;
    }
    .react-datepicker__month-container{
        flex:1
    }
    .react-datepicker__day-names{
        display: flex;
        justify-content: space-between;
    }
    .react-datepicker__week{
        display: flex;
        justify-content: space-between;
    }
}


.book-now{
    width: 100%;
    margin-top: 20px;
}