.layout-container{
    height: 100vh;
    padding-top: 60px;
    display: flex;
    width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
    .navigation{
        width: 200px;
        display: block;
        height: 100%;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        .profile-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            .profile {
                background-color: rgb(181, 181, 181);
                width: 100px;
                height: 100px;
                border-radius: 50px;
                margin-top: 20px;
            }
            .title{
                font-weight: bold;
                margin-top: 10px;
                text-align: center;
            }
            .description{
                margin-top: 0px;
            }
        }

        .menu-container {
            width: 100%;
            margin-top: 20px;
            .menu{
                border:1px solid rgb(240,247,254);
                width: 100%;
                display:  block;
                padding: 5px;
                text-align: center;
                border-radius: 2px;
                margin-top: 10px;
                cursor: pointer;
                font-size: 12px;
            }
            .menu:hover{
                opacity: 0.8;
            }
            .menu.active{
                background-color: rgb(240,247,254);
                border: 1px solid rgb(240,247,254);
                font-weight: bold;
            }
        }

    }
    .contact{
        width: 0px;
        height: 100%;
        overflow: scroll;
    }
    .child-container{
        flex:1;
        height: 100%;
        overflow: scroll;
        padding: 20px;
    }
}